Source: notion-scripts
Section: non-free/x11
Priority: extra
Maintainer: Dima Kogan <dima@secretsauce.net>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.9.3
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=collab-maint/notion-scripts.git
Vcs-Git: git://git.debian.org/collab-maint/notion-scripts.git
Homepage: http://notion.sourceforge.net/

Package: notion-scripts
Architecture: all
Depends: notion, ${misc:Depends}
Enhances: notion
Suggests: apmd, wireless-tools, mpd, pytone, procps, wget, net-tools,
 pyxmms-remote, curl, amarok
Description: user-contributed add-ons to the Notion window manager
 Provides user-contributed add-ons to the Notion window manager,
 Including:
  * scripts that can alter Notion's window management behaviour
  * monitors for Notion's statusbar to monitor disk usage, network
    traffic, battery and more.
  * multiple themes that change Notion's look
